[SddmGreeterTheme]
Name=Chromeo
Description=Chromeo SDDM Theme
Screenshot=
License=CC-BY-SA
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=chromeo-sddm
Theme-API=2.0
