[Desktop Entry]
Name=Chromeo
Name[es]=Chromeo


X-KDE-PluginInfo-Name=Chromeo
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nitrux.in
X-KDE-PluginInfo-License=CC BY-SA 4.0
